.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-evenly;
}
.container > .link {
  /* border: 5px solid green; */

  width: 50%;
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  font-weight: 600;
  /* border: 0.5em dashed #fabcde; */
  color: #fabcde;
  cursor: pointer;
  text-decoration: none;
}
.container > .link > a {
  text-decoration: none;
  color: #fabcde;
}
.container > .link:hover {
  color: #fff;
  background-color: #fabcde;
}
