/* inside */
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container > .panel {
  /* border: 5px solid green; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.container > .panel > h5 {
  font-size: 2em;
  color: #fabcde;
}
.container > .panel > span {
  font-size: 1.5em;
}
.container > .panel > span > a {
  text-decoration: none;
  color: black;
}
.container > .project-img {
  /* border: 5px solid green; */
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container > .project-img > img {
  width: 90%;
}
.left,
.right {
  /* border: 5px solid green; */
  position: absolute;
  top: 50%;

  width: 5%;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
.left {
  left: 3%;
}
.right {
  right: 3%;
}

.hidden {
  display: none;
}
.active {
  display: flex;
}
