* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.intro {
  border: 5px solid red;
  height: 100vh;
}
.project {
  border: 5px solid aqua;
  height: 100vh;
}
.weekly {
  border: 5px solid orange;
  height: 100vh;
}
.link {
  border: 5px solid firebrick;
  height: 100vh;
}
footer {
  border: 5px solid green;
  height: 5vh;
}

.subject {
  /* border: 5px solid green; */
  margin-top: 5vh;
  margin-left: 5%;
  font-size: 5em;
}
/* outside  */
.box {
  border: 1px solid green;
  margin-top: 1vh;
  margin-left: 5%;
  margin-right: 5%;
  height: 80vh;
}
/* inside */
.container {
  display: flex;
  flex-flow: row wrap;
}
.container > .introduction {
  border: 5px solid pink;
  width: 50%;
}
.container > .introduction > h3 {
  font-size: 2.5em;
}

.container > .panel {
  border: 5px solid pink;
  width: 50%;
}
.container > .week {
  border: 5px solid pink;
  width: 20%;
  height: 20%;
}
.container > .link-circle {
  border: 5px solid pink;
  border-radius: 50%;
  width: 33.3%;
  height: 33.3%;
}
